 *{
	margin:0;
	padding:0;
	
 }
 body{
	background-color: #FFF8DE;
	padding-top:100px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 header{
	min-height:100px;
	display:flex;
	justify-content:space-between;
	align-items: center;
	background-color:#576A8F;
	position:fixed;
	   top: 0;
  left: 0;
  width: 100%;
 }
 a.logo {
  text-decoration: none;
  color: inherit;
}
 h1{
	font-size:3rem;
	color: #B7BDF7;
	margin-left: 20px;
	
 }
nav{
	display: flex;
	gap:30px;
	
 }
 
 .auth-links{
	background-color: #B7BDF7;
	border-radius: 5px 10px;
	padding:10px;
	margin-right:20px;
 }
.auth-links a ,  nav a{
		text-decoration: none;
		color:#FFF8DE;
		font-size:1.2rem;
		
}

nav a:hover , .auth-links a:hover{
	 
		color:#8188cf;
		text-shadow: 0 0 10px #8188cf;
		
}

h2{
	font-size:2rem;
	margin-left:10px;
}
section {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

article{

	background-color: white;
	border-radius: 4px;
	margin: 20px 0px;
	padding:20px;
	height: 200px;
	 
}
#article{
	margin-top: 30px;
}
article h3{
	font-size:1.2rem;
	
}
article p{
	font-size:0.8rem;
}
footer{
	background-color: rgb(59, 59, 59);
	color: rgb(106, 106, 106);
	min-height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#article{
	font-size:1rem;
}

#login{
	display: flex;
   flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 10px;
	max-width:350px;
	min-height:300px;
}
#login form{
	display: flex;
	flex-direction: column;
	justify-content: center;

}
#login form input
 {
	padding:10px 30px;
	border-radius: 4px;
 }
#login form  button{
	margin-top: 9px;
	max-width: 100px;
	padding:8px  ;
	border-radius: 4px;
	 align-self: center;
	 background-color: #576A8F;
	 color:white;
}

#login form  button:hover{
	color:#8188cf;
		text-shadow: 0 0 10px #8188cf;
}

#signup{
	display: flex;
   flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 10px;
	max-width:350px;
	min-height:300px;
	padding:10px
}
#signup form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:5px;
	
}
#signup form input
 {
	padding:10px 30px;
	border-radius: 4px;
	
 }
#signup form  button{
	margin-top: 9px;
	max-width: 100px;
	padding:8px  ;
	border-radius: 4px;
	 align-self: center;
	 background-color: #576A8F;
	 color:white;
	 
}

#signup form  button:hover{
	color:#8188cf;
		text-shadow: 0 0 10px #8188cf;
}